@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import "tailwindcss";

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans'), url('/fonts/product-sans/ProductSans-Regular.ttf') format('truetype');
  }


body {
  background-color: #1b1b1b;
    font-family: 'Product Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-gradient {
  background: #0059f4;
  background: linear-gradient(to right, #0059f4 0%, #24c5ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* ::-webkit-scrollbar {
  display: none;
}


html {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
} */


::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


