@import "tailwindcss";




body {
  background-color: #1b1b1b;
  font-family: "Product Sans", sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-gradient {
  background: #0059f4;
  background: linear-gradient(to right, #0059f4 0%, #24c5ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


::-webkit-scrollbar {
  display: none;
}


html {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}


