@import "tailwindcss";

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/product-sans/ProductSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1b1b1b;
  font-family: "Product Sans", sans-serif;
}

.logo-gradient {
  background: #0059f4;
  background: linear-gradient(to right, #0059f4 0%, #24c5ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
